.TextField {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 18px 32px;
    background-color: $black;
    h1 {
        color: $grey;
    }
    .notEmpty {
        color: $white
    }
    .ClipBoard {
        display: flex;
        column-gap: 16px;
        align-items: center;
        p {
            color: $green;
        }
        svg {
            cursor: pointer;
            &:hover path {
                fill: $white;
            }
        }
    }
}

@media only screen and (max-width : 769px) {
    .TextField {
        p {
            display: none;
        }
    }
}